<div class="footer"><h5>&copy; 2020, Scuba TV | All Rights Reserved</h5></div>
<div class="footer"><a href="https://github.com/alex-whan/team-bulbasaur-301-final-project/tree/master"><i class="fab fa-github fa-2x"></i></a></div>
