
  <section id="headerImg">
    <!-- <img src="../../assets/images/header.png" alt="Scuba TV"> -->
  </section>
  <nav>
    <ul id="navBar">
      <li>Home</li>
      <li>Search</li>
      <li>My Collection</li>
      <li>Users recommendations</li>
      <li>About us</li>
    </ul>
  </nav>

