
  <section id="headerImg">
    <img id="header" src="../../assets/images/header1.png" alt="Scuba TV" />
  </section>
  <nav>
    <ul id="navBar">
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <li>My Collection</li>
      <li>Users recommendations</li>
      <li>About us</li>
    </ul>
  </nav>
