<%- include ('../partials/head.ejs') %>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <main>
    <h1>The team behind Scuba TV:</h1>
    <section class="aboutUs">
      <section class="title">
      <h2 class="aboutUsName">Kamit Satkeev</h2>
      <div class="socialIcons"><a href="https://github.com/Satkeev"><i class="fab fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/kamit-satkeev-61089769/"><i class="fab fa-linkedin-in fa-lg"></i></a></section></div>
        <section class="displayImg">
          <img class="aboutUsImg" src="../../assets/images/kamit-avatar2.jpg"/>
          <p class="AboutUsDescription">I'm a software developer. Despite the fact that there is a general opinion that programmers are young, I finally wanted to fulfill my long-standing dream of becoming a programmer. I can imagine what difficulties will be for this. But, thanks to the Code Fellows, I overcome my fear step by step and my eyes open for a lot. I am very excited to work in a team of young and motivated people who support me in my aspirations.</p>
      </section>
    </section>

    <section class="aboutUs">
      <section class="title">
      <h2 class="aboutUsName">Lulu Sevignon</h2>
      <div class="socialIcons"><a href="https://github.com/luluse"><i class="fab fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/lulu-sevignon/"><i class="fab fa-linkedin-in fa-lg"></i></a></div></section>
      <section class="displayImg">
        <p class="AboutUsDescription">I’m a software developer based out of Seattle. I come from the wine industry with a background in Marketing and Sales. I’m excited for the career transition to become a confident full stack developer. I want to put my time and effort into building websites using my customer service skills for clients and users, and create customer centered web experiences. </p>
        <img class="aboutUsImg" src="../../assets/images/lulu-avatar.png"/>
        </section>
    </section>

    <section class="aboutUs">
      <section class="title">
      <h2 class="aboutUsName">Alex Whan</h2>
      <div class="socialIcons">
      <a href="https://github.com/alex-whan"><i class="fab fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/alexwhan/"><i class="fab fa-linkedin-in fa-lg"></i></a></div></section>
        <section class="displayImg">
         <img class="aboutUsImg" src="../../assets/images/alex-avatar.jpg"/>
         <p class="AboutUsDescription">I’m a software developer diving deeper into the world of coding with Code Fellows after spending the last several years in the travel industry. My passion is connecting people from around the world and fostering cross-cultural communication through technology. I have always loved how programming and code are universal languages that bring people together, no matter their origins. Always curious about the world, and driven to constantly learn more.</p>
        </section> 
    </section>

    <section class="aboutUs">
      <section class="title">
        <h2 class="aboutUsName">Josh Williams</h2>
        <div class="socialIcons"> 
      <a href="https://github.com/jswill88"><i class="fab fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/joshua-williams-guitar/"><i class="fab fa-linkedin-in fa-lg"></i></a></div></section>
        <section class="displayImg">
          <p class="AboutUsDescription">I am a software developer and musician based out of Kent, WA. I am passionate about learning to code, and using that ability to express myself in new ways. I am having a great time at Code Fellows, and I am looking forward to continuing to develop my programming skills over the next few months.</p>
          <img class="aboutUsImg" src="../../assets/images/josh-avatar.png"/>
        </section>
    </section>


  </main>
  <footer><%- include ('../partials/footer.ejs') %></footer>
</body>
</html>