<%- include ('../partials/head.ejs') %>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <h1>CANNOT FIND</h1>
  <footer><%- include ('../partials/footer.ejs') %></footer>
</body>
</html>