<%- include ('../partials/head.ejs') %>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <main>
    <h1>No details available.</h1>
  </main>
  <footer><%- include ('../partials/footer.ejs') %></footer>
</body>
</html>