
<%- include ('../partials/head.ejs') %>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <main>
    <div id="indexPage"></div>
    <img  class="scubaLogo" src="../../assets/images/logo-white.png" alt="ScubaLogo"/>
    <h1 class="scubaTitle">Scuba TV</h1>
    
    <h6 id="tagline">We take a <span>DEEP DIVE</span> into the shows you want!</h6>
    
    <h4>Your friend told you about this TV show you should absolutely watch, but you don't know where to find it? <br><br>
    Our website allows you to search for series and find out on what platform they're streamed.</h4>
    <br><br>
    <a href="/search"><button class="button">Get Started</button></a>
  </main>
  <footer><%- include ('../partials/footer.ejs') %></footer>
</body>
</html>