
<%- include ('../partials/head.ejs') %>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <div id="indexPage"></div>
  <h1>Scuba TV</h1>
  <!-- <h2 id="tagline">We take a DEEP DIVE into the shows you want!</h2> -->
  
  <h4>Your friend told you about this tv show you should absolutely watch, but you don't know where to find it ? <br><br>
  Our website allows you to search for series and find out on what platform they're streamed.</h4>
  <br><br>
  <a href="/search"><button>Get Started</button></a>

  <footer><%- include ('../partials/footer.ejs') %></footer>
</body>
</html>