#headerImg{
  background-image: url("../../assets/images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

#navBar{
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
}

#navBar>li{
  margin: 15px;
}

header{
  border-bottom: solid 2px grey;
}

form{
  margin-top: 50px;
  flex-direction: row;
}

input{
  width: 300px;
  height: 50px;
  border-radius: 5px;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 100%;
  background-color: rgb(126, 126, 126);
  height: 70px;
  align-content: space-between;
}

@media screen and (min-width: 481px){

}