#indexPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.scubaLogo{
	width: 120px;
	padding-top: 4%;
}

.aboutUsImg{
	border-radius: 10px;
	height: 200px;
}

.aboutUs{
	max-width: 760px;
	border: solid 2px grey;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 25px;
}

h2.aboutUsName{
	font-family: 'Alegreya SC', serif;
	font-size: 25px;
}

.displayImg{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.title{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.AboutUsDescription{
	padding: 5%;
}

.socialIcons a{
	margin-left: 15px;
}

.socialIcons :hover{
	transform: translateY(2px);
}

a:hover{
	color: rgb(148, 146, 146);
}

.aboutUs:last-of-type{
	margin-bottom: 200px;
}

.button{
	border: none;
	box-shadow: 1px 1px 0 rgb(215, 214, 214);
	padding: 15px 45px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	margin: 15px auto 70px auto;
}

.detailButton{
	border: none;
	box-shadow: 1px 1px 0 rgb(215, 214, 214);
	padding: 10px 30px;
}

.detailPage{
	margin: 0 10%;
	padding: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	row-gap: 2%;
	/* column-gap: 2%; */
}
.titleShow{
	justify-self: center;
	grid-column-start: 1;
	grid-column-end: 3;
}

.imgShow{
	background-image: url(../assets/images/place-holder.jpg);
	background-size: cover;
	border: solid 2px white;
	width: 220px;
	height: 330px;
	max-width: 220px;
	margin: 3% 3% 3% 0;
	grid-column-start: 1;
	grid-column-end: 2;
}

.detailShow{
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: center;
	font-size: 20px;
}

.detailShow>p{
	padding-bottom: 20px;
}

.overviewShow{
	grid-column-start: 1;
	grid-column-end: 3;
	font-size: 20px;
}

.buttonShow{
	grid-column-start: 1;
	grid-column-end: 3;
	align-self: center;
}

.resultsPage{
	/* border: solid 2px grey; */
	border-radius: 15px;
	margin: 10%;
	padding: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: flex-start;
	flex-wrap: wrap;
	/* grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	row-gap: 2%;
	column-gap: 2%; */
}
.resultsTitle{
	font-size: 25px;
	/* justify-self: center;
	grid-column-start: 2;
	grid-column-end: 3; */
}

.resultsImg{
	background-image: url(../assets/images/place-holder.jpg);
	background-size: cover;
	border: solid 2px white;
	width: 220px;
	height: 330px;
	max-width: 220px;
	/* margin: 3% 3% 3% 0; */
	/* grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: span 2; */
}
.displayResults{
	justify-content:space-evenly;
	border: solid 2px rgb(123, 123, 123);
	border-radius: 7px;
	margin: 20px;
	padding: 5px;
	max-width:226px;

}
.displayResults> h2,button{
	padding: 13px;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resultsButton{
	/* grid-column-start: 2;
	grid-column-end: 3;
	align-self: center; */
}

.collectionPage{
	border: 2px solid grey;
	border-radius: 15px;
	margin: 0 10% 50px 10%;
	padding: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	row-gap: 2%;
	/* column-gap: 2%; */
}
.collectionPage:last-of-type{
	margin-bottom: 200px;
}
 
.comment {
  grid-column-start: 1;
  grid-column-end: 3;
}
.commentSection{
	grid-column-start: 1;
  grid-column-end: 3;
}

[type="hidden"] {
	display: none !important;
}

#noResults{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10%;
}

span{
	font-size: 22px;
	color: #4B95F5;
}

.commentBox{
	border: solid 1px rgb(79, 77, 77);
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
	align-items: center;
}
.commentBox>p:first-of-type{
	padding-bottom: 10px;
}

textarea{
	place-self: center;
}

.inputComment{
	place-self: center;
}